*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 15px;
  font-family: "Spartan", sans-serif;
}

header {
  height: 9.7rem;
  background-color: hsl(180, 29%, 50%);
  background-image: url("./images/bg-header-desktop.svg");
  background-size: cover;
}

main {
  background: hsl(180, 52%, 96%);
  position: relative;
}

.filters {
  display: none;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 1.5em 2.5em;
  border-radius: 0.3rem;
}

.clear {
  color: hsl(180, 29%, 50%);
  font-size: 0.8rem;
  font-weight: 700;
  cursor: pointer;
}

.clear:hover {
  text-decoration: underline;
}

.filters .filter {
  display: flex;
  align-items: center;
  margin-right: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.3rem;
  overflow: hidden;
}

.filters .close {
  background: hsl(180, 29%, 50%);
  align-self: stretch;
  display: flex;
  align-items: center;
  padding: 0 0.6em;
  transition: 0.2s;
  cursor: pointer;
}

.filters .category {
  cursor: initial;
  border-radius: 0;
  margin: 0;
}

.close:hover {
  background: hsl(180, 14%, 20%);
}

.filters .job-category {
  margin: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.job,
.info-head,
.info-foot,
.job-info {
  display: flex;
}

.container {
  width: 90%;
  max-width: 75rem;
  margin: auto;
  position: relative;
  transform: translateY(-35px);
}

.jobs {
  padding-top: 7rem;
}

.job {
  padding: 2em;
  background: white;
  border-radius: 0.3rem;
  box-shadow: 0 10px 30px -20px hsl(180, 29%, 50%);
  margin-bottom: 1.5rem;
}

.job p {
  font-weight: 700;
  color: hsl(180, 29%, 50%);
}

.job .bubble {
  border-radius: 3rem;
  padding: 6px 8px;
  line-height: 1;
  font-size: 0.7rem;
  font-weight: 700;
  margin-left: 0.5rem;
  color: hsl(180, 31%, 95%);
}

.bubble.new {
  background: hsl(180, 29%, 50%);
}

.bubble.feat {
  background: hsl(180, 14%, 20%);
}

.job-info {
  flex-direction: column;
  justify-content: space-between;
  padding: 3px;
  margin-left: 1.3rem;
}

.job-category {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.jobs .category:hover {
  background: hsl(180, 29%, 50%);
  color: hsl(180, 31%, 95%);
}

.category {
  background: hsl(180, 31%, 95%);
  color: hsl(180, 29%, 50%);
  font-size: 0.8rem;
  font-weight: 700;
  margin: 0.5rem;
  padding: 0.7em;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.2s;
}

.info-head {
  align-items: center;
}

.info-head p {
  margin-right: 0.5rem;
}

.info-body {
  color: hsl(180, 14%, 20%);
  cursor: pointer;
  transition: 0.2s;
}

.info-body:hover {
  color: hsl(180, 29%, 50%);
}

.info-foot {
  color: hsl(180, 14%, 60%);
  align-items: center;
}

.info-foot * {
  margin-right: 1rem;
}

.info-foot .dot {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: hsl(180, 14%, 60%);
}

.featured {
  position: relative;
}

.featured::before {
  content: "";
  left: 0;
  top: 0;
  bottom: 0;
  border-radius: 0.3rem 0 0 0.3rem;
  width: 5px;
  background: hsl(180, 29%, 50%);
  position: absolute;
  z-index: 10;
}

.hr {
  width: 100%;
  height: 1px;
  margin: auto;
  display: none;
  background: hsl(180, 14%, 60%);
  margin: 1rem 0 0.6rem;
}

@media only screen and (max-width: 1000px) {
  .job {
    flex-direction: column;
    position: relative;
    margin-bottom: 2.5rem;
  }

  .job .job-img {
    position: absolute;
    top: -25px;
    z-index: 100;
  }

  .job-img img {
    width: 50px;
  }

  .job .job-category {
    margin-left: -0.4em;
    flex-wrap: wrap;
  }

  .job .job-info {
    margin-left: 0;
  }

  .job .job-info > *:not(:last-child) {
    margin-bottom: 1rem;
  }

  .job-info .info-body {
    font-size: 0.8rem;
  }

  .job-info .info-foot {
    font-size: 0.8rem;
  }

  .hr {
    display: block;
  }
}
